.about_container{
    
    background-color: #ff4753;

    margin: 0 auto;

    width: 40vw;
    height: 80vh;

    border-top-left-radius: 20%;
    border-top-right-radius: 5%;
    
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 2em;
}

.about_info{

    min-width: 25vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_info p{

    margin: 0;
}