<div class="container mt-5 about_container">
    <div class="row">
        <div class="col">
            <div class="about_info">
                <label for="">Autor:</label>
                <p>Roberto Carrera</p>
            </div>
            <div class="about_info">
                <label for="">Versión:</label>
                <p>0.0.1</p>
            </div>
            <div class="about_info">
                <label for="">Fecha:</label>
                <p>18/07/2023</p>
            </div>
        </div>
    </div>
</div>
<app-navbar></app-navbar>