<div class="container mt-5 pokemons_container">
    <div class="row">
        <div class="col nombre_numero">
            <h2 *ngIf="pokemon" >#{{pokemon.id}}</h2>
            <h2 *ngIf="pokemon" >{{pokemon.name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col pantalla">
            <img  *ngIf="pokemon" [src]="pokemon.sprites.front_default" alt=""/>
        </div>
    </div>
    <div class="row tipos_row">
        <div class="col tipos m-2">
            <img src="https://images.wikidexcdn.net/mwuploads/wikidex/thumb/a/a7/latest/20221208180710/Tipo_planta_EP.png/80px-Tipo_planta_EP.png" alt=""/>
            <img src="https://images.wikidexcdn.net/mwuploads/wikidex/thumb/1/11/latest/20221208180751/Tipo_veneno_EP.png/80px-Tipo_veneno_EP.png" alt=""/>
        </div>
    </div>
    <div class="row">
        <div *ngFor= "let habilidad of pokemon.abilities" class="col habilidad">
            <h2>{{habilidad}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col mas_info">
            <h2>{{pokemon.weight}}</h2>
            <h2>{{pokemon.height}}</h2>
        </div>
    </div>
</div>
<app-navbar></app-navbar>