<div class="container mt-5 pokemons_container">
    <div class="row">
        <div class="col nombre_numero">
            <h2>Bulbasaur</h2>
            <h2>#2</h2>
        </div>
    </div>
    <div class="row">
        <div class="col pantalla">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt=""/>
        </div>
    </div>
    <div class="row tipos_row">
        <div class="col tipos m-2">
            <img src="https://images.wikidexcdn.net/mwuploads/wikidex/thumb/a/a7/latest/20221208180710/Tipo_planta_EP.png/80px-Tipo_planta_EP.png" alt=""/>
            <img src="https://images.wikidexcdn.net/mwuploads/wikidex/thumb/1/11/latest/20221208180751/Tipo_veneno_EP.png/80px-Tipo_veneno_EP.png" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col habilidades">
            <h2>Habilidades</h2>
        </div>
    </div>
    <div class="row">
        <div class="col mas_info">
            <h2>Peso</h2>
            <h2>Altura</h2>
        </div>
    </div>
</div>
{{ pokemon | json }}
<app-navbar></app-navbar>